.container {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  border-radius: 10px;
  border: 0.5px solid rgba(0, 0, 0, 0.205);

  .tabs-container {
    font-size: 14px;

    border-radius: 10px;

    display: flex;
    .tab {
      flex: 1;

      display: flex;
      justify-content: center;

      padding: 8px 10px;

      border-radius: 10px;

      cursor: pointer;

      &:hover {
        background-color: #90a7c872;
      }

      transition: all 0.5s ease;
    }

    .active {
      background-color: #aaacc6;
      &:hover {
        background-color: #aaacc6;
      }
    }
  }
}
