.container {
  min-width: 500px;
  min-height: 500px;

  display: flex;
  flex-direction: column;

  gap: 16px;

  .title {
    margin-bottom: 15px;

    font-weight: 400;
    font-size: 30px;
  }

  .row {
    display: flex;
    gap: 20px;
  }
}
