@use "@/styles/colors.scss" as *;

.input {
  padding: 10px;
  background-color: $light-gray-color;
  border-radius: 5px;

  border: 1px solid #848484;

  &::placeholder {
    color: #00000099;
  }

  &:hover {
    background-color: #c1bcbc;
  }

  &:focus{
  }
}
