@use "@styles/colors.scss" as *;

.input {
  padding: 10px;
  background-color: $light-gray-color;
  border-radius: 10px;

  border: none;

  &::placeholder {
    color: #00000099;
  }

  &:hover {
    background-color: #c1bcbc;
  }
}
