.gallery {
  min-height: 100px;
  max-width: 600px;
  overflow: auto;
  display: flex;
  gap: 6px;
  img {
    height: 100px;
    aspect-ratio: 1;
    object-fit: cover;
    cursor: pointer;
    border: 1px solid #00000077;
    border-radius: 6px;
  }
}

.img {
  object-fit: cover;
  border-radius: 8px;
  max-height: 80vh;
  max-width: 80vw;
}
