.container {
  min-width: 350px;

  padding: 40px 20px;

  display: flex;
  flex-direction: column;

  gap: 16px;

  .top-container {
    display: flex;
    justify-content: space-between;

    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0%;
  }
  .row {
    display: flex;
    gap: 20px;

  }
}
