.container {
  overflow: auto;

  min-width: 500px;
  min-height: 500px;
  max-height: 80vh;

  display: flex;
  flex-direction: column;

  gap: 16px;

  .title {
    margin-bottom: 8px;

    font-weight: 400;
    font-size: 30px;
  }

  .top-container {
    display: flex;
    justify-content: space-between;

    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0%;
  }

  .specItem {
    display: flex;
    flex-direction: column;
    gap: 8px;

    input {
      max-width: 600px;
      border-radius: 8px;
    }
  }

  .row {
    display: flex;
    gap: 20px;
  }
}
