.container {
  display: flex;
  flex-direction: column;

  gap: 16px;

  padding: 10px;

  @media (min-width: 900px) {
    min-width: 500px;
    min-height: 500px;
    max-height: 80vh;
    max-width: 80vw;
  }

  .content-container {
    flex: 1;

    overflow: auto;
    display: flex;
    flex-direction: column;

    gap: 16px;

    .specs-container {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .spec {
        display: flex;
        gap: 20px;

        .spec-title {
          flex: 1;
        }

        .spec-descr {
          flex: 1;
        }
      }
    }
    .photo {
      img {
        width: 25%;
        aspect-ratio: 1;
        object-fit: cover;
      }
    }

    .transfers-container {
      font-size: 26px;
      font-weight: 500;

      display: flex;
      flex-direction: column;
      gap: 10px;

      .transfer {
        font-size: 16px;
        font-weight: 500;

        display: flex;
        gap: 20px;

        .transfer-date {
          flex: 1;
        }

        .transfer-to {
          flex: 1;
        }
      }
    }

    .delete-container {
      button {
        font-weight: 500;
        background-color: transparent;
        color: rgb(248, 51, 51);

        &:hover,
        &:active,
        &:focus {
          opacity: 0.8;
          box-shadow: none;
        }
      }
    }
  }

  .title {
    margin-bottom: 8px;

    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0%;
  }

  .row {
    display: flex;
    gap: 20px;
  }

  .delete-modal {
    display: flex;
    flex-direction: column;
    gap: 12px;

    font-size: 20px;

    // ::after {
    //   content: "⚠️";
    // }

    .warning {
      font-size: 14px;
      color: rgb(105, 105, 105);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .outline {
      width: 100%;
      button {
        color: rgb(248, 51, 51);
      }
    }

    .fill {
      width: 100%;
    }
  }
}
