.container {
  min-width: 500px;
  min-height: 500px;
  max-height: 80vh;
  overflow: auto;

  padding: 10px;

  display: flex;
  flex-direction: column;

  gap: 16px;

  .specs-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .title {
      margin-bottom: 15px;

      font-weight: 400;
      font-size: 32px;
      line-height: 38px;
      letter-spacing: 0%;
    }

    .spec {
      display: flex;
      gap: 20px;

      .spec-title {
        flex: 1;
      }

      .spec-descr {
        flex: 1;
      }
    }
  }

  .photos-container {
    width: 100%;
    .photo {
      img {
        width: 25%;
        aspect-ratio: 1;
        object-fit: cover;
      }
    }
  }

  .transfers-container {
    font-size: 26px;
    font-weight: 500;

    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .transfer {
      font-size: 16px;
      font-weight: 500;

      display: flex;
      gap: 20px;

      .transfer-date {
        flex: 1;
      }

      .transfer-to {
        flex: 1;
      }
    }
  }

  .top-container {
    display: flex;
    justify-content: space-between;

    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0%;
  }
  .row {
    display: flex;
    gap: 20px;
  }
}
