@use "@/styles/colors.scss" as *;

.button {
  padding: 8px 14px;

  background-color: $button-color;

  transition: background-color 0.5s ease-out;
  border-radius: 20px;

  border: none;

  cursor: pointer;

  &:disabled {
    background-color: $button-disabled-color;
    cursor: inherit;
  }

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    background-color: $button-hover-color;
    box-shadow: 0 0 3px rgba(0, 0, 0);
  }

  &:not(:disabled):active {

  }

  @keyframes example {
    0% {
      transform: translate(0, 0);
      background-color: #008cba;
    }
    25% {
      transform: translate(150px, 150px);
      background-color: #008cba;
    }
    50% {
      transform: translate(300px, 0);
      background-color: #99008c;
    }
    75% {
      transform: translate(150px, -150px);
      background-color: #008cba;
    }
    100% {
      transform: translate(0, 0);
      background-color: #008cba;
    }
  }

}
