@use "@/styles/colors.scss" as *;

.button {
  padding: 8px 14px;
  transition: all 0.3s ease-out;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 36px;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &.solid {
    background-color: $button-color;
    color: black;
    border: none;

    &:not(:disabled):hover,
    &:not(:disabled):focus {
      background-color: $button-hover-color;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    &:disabled {
      background-color: $button-disabled-color;
    }
  }

  &.outline {
    background-color: transparent;
    color: black;
    border: 2px solid $button-color;

    &:not(:disabled):hover,
    &:not(:disabled):focus {
      background-color: rgba($button-color, 0.08);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    &:disabled {
      border-color: $button-disabled-color;
      color: $button-disabled-color;
    }
  }

  &.text {
    background-color: transparent;
    color: $button-color;
    border: none;
    padding: 8px 10px;

    &:not(:disabled):hover,
    &:not(:disabled):focus {
      opacity: 0.8;
    }

    &:disabled {
      color: $button-disabled-color;
    }
  }
  &.fullWidth {
    width: 100%;
    display: flex;
  }
}
