@use "@/styles/colors.scss" as *;

.header {
  padding: 8px 35px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $header-color;

  @media (max-width: 650px) {
    height: 38px;

    padding: 4px 17px;
  }

  .logo {
    height: 36px;

    @media (max-width: 650px) {
      height: 26px;
    }
  }

  .burger {
    width: 25px;
    height: 25px;

    display: none;

    @media (max-width: 650px) {
      display: flex;
    }
  }

  .actions-container {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .action-icon {
    width: 34px;
    height: 34px;

    @media (max-width: 650px) {
      width: 25px;
      height: 25x;
    }
  }
}
